<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendance System</title>
    <link rel="stylesheet" href="/static/index_style.css" />
  </head>
  <body>
    <div class="container">
      <!-- Logo Section -->
      <div class="logo">
        <img src="/static/logo.png" alt="College Logo" />
      </div>

      <h1>Yeshwantrao Chavan College Of Engineering Nagpur</h1>
      <p>Face-Based Attendance System</p>

      <div class="buttons">
        <a href="/create_new" class="btn">Register</a>
        <a href="/attendance" class="btn">Mark Attendance</a>
      </div>
    </div>
  </body>
</html>
